{% extends 'base.html.twig' %}
{% set base = 'reset' %}

{% block title %}Новый пароль
{% endblock %}

{% block body %}
	<section class="{{ base }}">
		<div class="{{ base }}__wrapper">
			<div class="{{ base }}__card">
				<h1 class="{{ base }}__title">Создайте новый пароль</h1>
				<p class="{{ base }}__subtitle">Введите новый пароль и сохраните изменения.</p>

				{{ form_start(resetForm, { attr: { class: base ~ '__form', novalidate: 'novalidate' } }) }}
				<div class="{{ base }}__group">
					{{ form_label(resetForm.plainPassword.first, 'Новый пароль', { label_attr: { class: base ~ '__label' } }) }}
					{{ form_widget(resetForm.plainPassword.first, { attr: {
            class: base ~ '__input',
            autocomplete: 'new-password',
            placeholder: 'Введите новый пароль'
          }}) }}
					{{ form_errors(resetForm.plainPassword.first) }}
				</div>

				<div class="{{ base }}__group">
					{{ form_label(resetForm.plainPassword.second, 'Повторите пароль', { label_attr: { class: base ~ '__label' } }) }}
					{{ form_widget(resetForm.plainPassword.second, { attr: {
            class: base ~ '__input',
            autocomplete: 'new-password',
            placeholder: 'Повторите пароль'
          }}) }}
					{{ form_errors(resetForm.plainPassword.second) }}
				</div>

				<div class="{{ base }}__actions">
					<button class="btn btn--primary" type="submit">Сохранить пароль</button>
					<a class="btn btn--link" href="{{ path('app_login') }}">Вернуться ко входу</a>
				</div>
				{{ form_end(resetForm) }}
			</div>
		</div>
	</section>
{% endblock %}
